<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.puzi.puzi">

  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:name=".PuziApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity
      android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
      android:name=".ui.LaunchActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.IntroActivity"
      android:label="@string/app_name"/>
    <activity
      android:name=".ui.MainActivity"
      android:windowSoftInputMode="adjustPan"/>
    <activity
      android:name=".ui.channel.ChannelDetailActivity"
      android:windowSoftInputMode="stateAlwaysHidden"/>
    <activity android:name=".ui.user.RecommendActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <data android:host="@string/kakaolink_host"
              android:scheme="@string/kakao_scheme">
        </data>
        <!--<data android:host="@string/kakaotalk_host"-->
              <!--android:scheme="@string/kakao_scheme">-->
        <!--</data>-->
      </intent-filter>
    </activity>
    <activity android:name=".ui.user.PointActivity"/>
    <activity android:name=".ui.setting.SettingDetailActivity"/>
    <activity android:name=".ui.advertisement.AdvertisementDetailActivity"
      android:windowSoftInputMode="stateAlwaysHidden">
    </activity>
    <activity android:name=".ui.today.QuestionActivity"/>
    <activity android:name=".ui.store.withdraw.WithdrawActivity"/>
    <activity android:name=".ui.store.coupon.CouponActivity"/>
    <activity android:name=".ui.store.item.StoreItemActivity"/>
    <activity android:name=".ui.store.puzi.StoreItemActivity"/>
    <activity android:name=".ui.store.puzi.challenge.StoreChallengeActivity"/>
    <activity android:name=".ui.store.puzi.challenge.StoreChallengeDetailActivity"/>
    <activity android:name=".ui.store.puzi.saving.StoreSavingActivity"/>
    <activity android:name=".ui.store.puzi.saving.StoreSavingDetailActivity"/>
    <activity android:name=".ui.store.puzi.saving.StoreSavingMineActivity"/>
    <activity android:name=".ui.store.purchase.PurchaseItemActivity"/>
    <activity android:name=".ui.channel.editorspage.EditorsPageActivity"/>
    <activity android:name=".ui.channel.ChannelFilterActivity"/>
    <activity android:name=".ui.myworry.MyWorryWriteActivity"/>
    <activity android:name=".ui.user.EventWebViewActivity"/>
    <activity
      android:name=".ui.fcm.ScreenOffAlertActivity"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:excludeFromRecents="true"
      android:taskAffinity="com.puzi.puzi.popup"/>
    <activity
      android:name=".ui.company.CompanyActivity"
      android:label="@string/title_activity_company">
    </activity>

    <service
      android:name=".fcm.FirebaseMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>

    </service>

    <service
      android:name=".fcm.FirebaseInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>

    <receiver
      android:name=".fcm.PuziBroadcastReceiver"  android:exported="true">
      <intent-filter android:priority="1" >
        <action android:name="com.puzi.puzi.GOT_PUSH" />
        <category android:name="com.puzi.puzi" />
      </intent-filter>
    </receiver>

    <meta-data
      android:name="com.kakao.sdk.AppKey"
      android:value="@string/kakao_app_key"/>

  </application>

</manifest>